<!DOCTYPE html>
<html ng-app="calApp">
<head>
  <title>Calendari</title>
  <base href="/">
<link rel="stylesheet"
      href="app/assets/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
     href="app/assets/lib/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet"
      href="app/assets/lib/ui-select/select.css">
     
     
<link rel="stylesheet"
     href="app/assets/css/cal.css">
<script src="app/assets/lib/jquery/jquery.min.js"></script>
<script src="app/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<script src="app/assets/lib/angular/angular.min.js"></script>
<script src="app/assets/lib/angular/angular-route.min.js"></script>
<script src="app/assets/lib/angular/angular-cookies.min.js"></script>
<script src="app/assets/lib/angular/ui-bootstrap-tpls-0.14.2.min.js"></script>
<script src="app/assets/lib/ui-select/select.js"></script>
<script src="app/app.module.js"></script>
<script src="app/app.factory.js"></script>
<script src="app/app.directives.js"></script>
<script src="app/app.filter.js"></script>
<script src="app/app.route.js"></script>
<script src="app/components/common/services.js"></script>
<script src="app/components/index/indexCtrl.js"></script>
<script src="app/components/main/mainCtrl.js"></script>
<script src="app/components/auth/signInCtrl.js"></script>
<script src="app/components/auth/logInCtrl.js"></script>
<script src="app/components/event/addEventCtrl.js"></script>

 <div ng-controller="indexCtrl as ixvm">
 	
     <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Calendari</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            <li><a href="#"  ng-show="ixvm.isLogged()" id="user">{{ ixvm.user }}</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li ng-show="ixvm.isLogged()"><a href="#" ng-click="ixvm.logOut()">Logout</a></li>
            <li ng-hide="ixvm.isLogged()" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Login<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/signin">Registro</a></li>
              </ul>
            </li>
        </ul>
      </div>
    </nav>
</div>
<ng-view></ng-view>	
	
	
	
</body>
</html> 