<div class="modal-header">
    <h3>Add Event</h3>
</div>
<div class="modal-body">
    <form name="frmAddEvent">
        <div class="form-group">
            <label for="dataEvent">Date:</label>
                <div class="input-group form-inline">
                <input type="date" class="form-control" id="dateEvent" ng-model="vm.evt.data" required />
                <input type="time" class="form-control" id="timeEvent" ng-model="vm.evt.hour" required />
                </div>
        </div>
    	<div class="form-group"  ng-hide="vm.evt.addNewCat || vm.evt.showNom">
    		<label for="catEvent">Event category:</label>
            <div class="input-group">
	    		<select class="form-control" id="catEvent" ng-required="!vm.evt.addNewCat && !vm.evt.nom"
		    	        ng-options="cat.Nom for cat in vm.cat" ng-model="vm.evt.cat"> 
		    	</select>
                <span class="input-group-btn">
                  <button id="addCat" type="button" class="btn btn-success btn-number" ng-click="vm.addCat()">
                      <span class="glyphicon glyphicon-plus"></span>
                  </button>
                  <button id="addCat" type="button" class="btn btn-success btn-number" ng-click="vm.showNom()">
                      <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                </span>
            </div>
    	</div>
    	<div class="form-group" ng-show="vm.evt.showNom">
    		<label for="nomEvent">Event:</label>
			<input type="text" class="form-control" id="nomEvent" placeholder="Name Event" ng-model="vm.evt.nom" ng-required="!vm.evt.cat.Id" />
    	</div>
    	<div class="form-group" ng-show="vm.evt.addNewCat">
    		<label for="catNewEvent">New Event category:</label>
			<input type="text" class="form-control" id="nomEvent" placeholder="Create a new category" ng-model="vm.evt.newcat" ng-required="vm.evt.addNewCat" />
		</div>
    	<div class="form-group">
    		<label for="catDesc">Event description (optional):</label>
			<input type="textarea" class="form-control" id="nomEvent" placeholder="Name Event" ng-model="vm.evt.desc" />
    	</div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.ok()" ng-disabled="frmAddEvent.$invalid">OK</button>
    <button class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
</div>
