<div class="container">
  <!--
  <ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
  </ul>
  -->
  <div>
    <div class="btn-group" ng-init="mainvm.eventList='Future'" ng-hide="mainvm.filter.isPrint">
      <label class="btn btn-primary" ng-model="mainvm.eventList" uib-btn-radio="'Future'" ng-click="mainvm.refresh()">Future</label>
      <label class="btn btn-primary" ng-model="mainvm.eventList" uib-btn-radio="'Past'" ng-click="mainvm.refresh()">Past</label>
      <label class="btn btn-primary" ng-model="mainvm.eventList" uib-btn-radio="'All'" ng-click="mainvm.refresh()">All</label>
    </div>
    <div class="btn-group pull-right" ng-hide="mainvm.filter.isPrint">
          <button id="showPrint" type="button" class="btn btn-number" ng-click="mainvm.showPrint()">
             <span class="glyphicon glyphicon-print"></span>
          </button>
          <button id="updownOrder" type="button" class="btn btn-number" ng-init="mainvm.filter.order='asc'" ng-click="mainvm.changeOrder()">
             <span ng-if="mainvm.filter.order=='asc'" span class="glyphicon glyphicon-triangle-top"></span>
             <span ng-if="mainvm.filter.order=='desc'" span class="glyphicon glyphicon-triangle-bottom"></span>
          </button>
          <button id="showFilter" type="button" class="btn btn-number" ng-class="{'btn-success':mainvm.filter.enabled}"
              ng-click="mainvm.showFilter()">
             <span class="glyphicon glyphicon-filter"></span>
          </button>
          <button id="addCat" type="button" class="btn btn-success btn-number" ng-click="mainvm.addItem(mainvm.events)">
             <span class="glyphicon glyphicon-plus"></span>
          </button>
    </div>
    <div class="btn-group pull-right" ng-show="mainvm.filter.isPrint">
          <button id="showPrint" type="button" class="btn btn-number btn-success" ng-click="mainvm.showPrint()">
             <span class="glyphicon glyphicon-print"></span>
          </button>
    </div>
   </div>
   <div ng-show="mainvm.filter.show && !mainvm.filter.isPrint">
     <div class="row">
       <div class="form-group col-xs-2">
        <label for="dataEvent">Date From:</label>
            <div class="input-group form-inline">
              <input type="date" class="form-control" id="dateFromEvent" ng-model="mainvm.filter.dateFrom" ng-change="mainvm.updateFilter()" />
            </div>
       </div>
       <div class="form-group col-xs-2">
        <label for="dataEvent">Date To:</label>
            <div class="input-group form-inline">
              <input type="date" class="form-control" id="dateToEvent" ng-model="mainvm.filter.dateTo" ng-change="mainvm.updateFilter()" />
            </div>
        </div>
       <div class="form-group col-xs-2">
        <label for="dataEvent">Category / Text:</label>
            <div class="input-group form-inline">
              <input type="text" class="form-control" id="CategoryEvent" ng-model="mainvm.filter.text" ng-change="mainvm.updateFilter()" />
            </div>
        </div>
        <div class="btn-group col-xs-2">
          <label for="dataEvent">Filter!</label>
            <div class="input-group form-inline">
              <button id="addCat" type="button" class="btn btn-number" ng-class="{'btn-success':mainvm.filter.enabled}"
                      ng-disabled="!mainvm.filter.dateFrom && !mainvm.filter.dateTo && !mainvm.filter.text " ng-click="mainvm.applyFilter()">
               <span class="glyphicon glyphicon-filter"></span>
              </button>
            </div>
        </div>

     </div>
   </div>
  <br>
	<div class="row" ng-hide="mainvm.filter.isPrint">
		<div class="col-md-12">
			<div>
        <div ng-repeat="event in mainvm.events">
          <div class="panel panel-primary">
            <div class="panel-heading">
              {{ event.DataInici | dateToISO | date:"dd/MM/yyyy HH:mm" }}
            </div>
            <div class="panel-body">
              <div class="pull-left">
                {{ event.CategoriaNom ? event.CategoriaNom : event.Event }}
              <p>{{ event.Descripcio }}</p>  
              </div>
              <div class="btn-group pull-right">
                  <button id="deleteCat" type="button" class="btn btn-warning btn-number" ng-click="mainvm.deleteEvent(mainvm.events,$index)">
                      <span class="glyphicon glyphicon-trash"></span>
                  </button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <uib-pagination total-items="mainvm.pag.totalItems" ng-model="mainvm.pag.currentPage" items-per-page="mainvm.pag.itemsPerPage"
                          ng-change="mainvm.pageChanged()" style="margin: 0px !important; vertical-align: middle;"></uib-pagination>
              <!-- Single button -->
          <div class="btn-group pull-right">
              <label for="singleSelect"> Items per page: </label><br>
              <select name="singleSelect" ng-model="mainvm.itemspp" ng-init="mainvm.itemspp='5'" ng-change="mainvm.refresh()">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
              </select>
          </div>
        </div>
      </div>
		</div>
	</div>
	<div class="row" ng-show="mainvm.filter.isPrint">
		<div class="col-md-12">
        <table class="table">
          <tr>
            <th>DATE</th>
            <th>TYPE</th>
            <th>OBS</th>
          </tr>
          <div>
            <tr  ng-repeat="event in mainvm.events">
              <td style="width:130px">{{ event.DataInici | dateToISO | date:"dd/MM/yyyy HH:mm" }}</td>
              <td style="width:370px">{{ event.CategoriaNom ? event.CategoriaNom : event.Event }}</td>
              <td style="width:400px">{{ event.Descripcio }}</td>
            </tr>          
          </div>
        </table>
   </div>
  </div>
</div>

