<div class="container">
  <div class="col-md-4 col-xs-4 col-md-offset-4 col-xs-offset-4">
    <form role=form name="frmLogIn" ng-submit="livm.logIn()" novalidate>
      <h2>Login</h2>
      <input type="text" class="form-control" name="username" ng-model="livm.data.user" placeholder="User" required="" autofocus="" />
      <input type="password" class="form-control" name="password" ng-model="livm.data.password" placeholder="Password" required=""/>      
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" ng-model="livm.data.remember" name="rememberMe"> Remember me</input>
      </label>
      <div ng-show="livm.logInError" >
        <div class="alert alert-danger">Login Error</div> 
      </div>
      <button class="btn btn-lg btn-primary btn-block" ng-disabled="frmLogIn.$invalid || frmLogIn.$pristine" type="submit">Login</button>   
    </form>
  </div>
</div>
