<div class="container">
  <div class="col-md-4 col-xs-4 col-md-offset-4 col-xs-offset-4">
    <form role="form"  name="frmSignIn" ng-submit="sivm.signIn()" novalidate>       
      <h2>Sign In</h2>
      <input type="text" class="form-control" name="username" ng-model="sivm.data.user" placeholder="User" required="" autofocus="" />
      <input type="password" class="form-control" name="password" ng-model="sivm.data.password" placeholder="Password" required=""/>      
      <input type="password" class="form-control" name="confirmPassword" ng-model="sivm.data.confirmPassword"
             compare-to="sivm.data.password" placeholder="Repeat Password" required=""/>     
      <div ng-hide="( frmSignIn.password.$pristine && frmSignIn.confirmPassword.$pristine ) || frmSignIn.confirmPassword.$valid" >
        <div class="alert alert-danger">Passwords don't match</div> 
      </div>

      <input type="email" class="form-control" name="email" ng-model="sivm.data.email" placeholder="email" required=""/>      
      <button class="btn btn-lg btn-primary btn-block" ng-disabled="frmSignIn.$invalid|| frmSignIn.$pristine">Sign in</button>   
    </form>
  </div>
</div>

